function Bricks.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 256
pop this 0
push constant 219
pop this 1
push constant 10
pop this 2
push constant 1
neg
pop this 3
push constant 1
neg
pop this 4
push pointer 0
call Bricks.draw 1
pop temp 0
push pointer 0
return
function Bricks.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
