function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 248
push constant 511
push constant 248
call Screen.drawLine 4
pop temp 0
call Paddle.new 0
pop this 0
call Ball.new 0
pop this 2
push constant 30
call Array.new 1
pop this 4
push constant 0
pop this 1
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Paddle.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.movePaddle 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Paddle.moveLeft 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Paddle.moveRight 1
pop temp 0
label IF_FALSE1
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.check_collision_with_walls 2
push argument 0
pop pointer 0
push argument 1
call Ball.getX 1
pop local 0
push argument 1
call Ball.getY 1
pop local 1
push local 0
push constant 10
eq
push local 0
push constant 501
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
not
push constant 0
call Ball.bounce 3
pop temp 0
label IF_FALSE0
push local 1
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
push constant 0
not
call Ball.bounce 3
pop temp 0
label IF_FALSE1
push local 1
push constant 240
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
function Game.check_collision_with_bricks 5
push argument 0
pop pointer 0
push argument 1
call Ball.getX 1
pop local 2
push argument 1
call Ball.getY 1
pop local 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
call Brick.getX 1
push local 2
lt
push local 1
call Brick.getX 1
push constant 50
add
push local 2
gt
and
push local 3
push local 1
call Brick.getY 1
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Brick.erase 1
pop temp 0
push local 1
call Brick.dispose 1
pop temp 0
push argument 2
push constant 1
sub
pop argument 2
push argument 1
push constant 0
not
push constant 0
not
call Ball.bounce 3
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 2
return
function Game.check_collision_with_paddle 5
push argument 0
pop pointer 0
push argument 1
call Ball.getX 1
pop local 0
push argument 1
call Ball.getY 1
pop local 1
push argument 2
call Paddle.getX 1
pop local 3
push argument 2
call Paddle.getY 1
pop local 4
push local 0
push local 1
push local 3
push constant 25
add
push local 4
push constant 5
add
call Utils.distance 4
pop local 2
push local 2
push constant 50
lt
push local 1
push constant 220
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
push constant 0
not
call Ball.bounce 3
pop temp 0
push constant 0
return
label IF_FALSE0
push constant 0
return
function Game.run 8
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 7
push constant 93
pop local 4
push constant 20
pop local 5
label WHILE_EXP0
push local 2
push constant 5
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 3
push constant 6
lt
not
if-goto WHILE_END1
push local 4
push local 5
call Brick.new 2
pop local 6
push local 7
push this 4
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
push constant 55
add
pop local 4
push local 3
push constant 1
add
pop local 3
push local 7
push constant 1
add
pop local 7
goto WHILE_EXP1
label WHILE_END1
push local 5
push constant 15
add
pop local 5
push constant 93
pop local 4
push constant 0
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 1
label WHILE_EXP2
push local 0
push constant 32
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
label WHILE_EXP3
push local 1
not
not
if-goto WHILE_END3
call Keyboard.keyPressed 0
pop local 0
push this 2
call Ball.move 1
pop temp 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 1
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 1
label IF_FALSE2
push local 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 1
label IF_FALSE3
push local 0
push constant 81
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 1
label IF_FALSE4
push pointer 0
call Game.movePaddle 1
pop temp 0
push pointer 0
push this 2
push this 0
call Game.check_collision_with_paddle 3
pop temp 0
push pointer 0
push this 2
call Game.check_collision_with_walls 2
pop local 1
push pointer 0
push this 2
push local 7
call Game.check_collision_with_bricks 3
pop local 7
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
