function Graphics.drawPaddle 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push constant 50
add
push argument 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphics.erasePaddle 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push constant 50
add
push argument 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphics.drawBall 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Graphics.eraseBall 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
